transformer-lens
transformers
jupyter
plotly
plotly-express
nbformat
ipykernel
matplotlib
matplotlib-inline
flake8
isort
black
pytest
pytest-cov
pre-commit
git+https://github.com/neelnanda-io/neel-plotly
kaleido